<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="mapStyles">
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude"
    (markerClick)="markerClicked(marker, infoWindow)"
    iconUrl="assets/markers/red.png"
  >
    <agm-info-window [disableAutoPan]="false" #infoWindow class="container">
      <div class="row merchant-detail">
        <div class="col-sm-6">
          <div class="merchant-image-container">
            <img class="merchant-image" src="{{ marker.img }}" />
          </div>
        </div>
        <div class="col-sm-6">
          <h5>{{ marker.name }}</h5>
          <h4>{{ marker.lat }}, {{ marker.lng }}</h4>
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
